@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html, body {
    height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color:#000808;
}

body {
    background-color: #f4dada;
}

.navbar {
	padding: .8rem;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
	font-size: 1em !important;
}

.logo-container {
	width: 300px;
	height: auto;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* resize images */
.logo-container img {
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img {
	width:100%;
	height:auto;
}

/* main page */
.card-horizontal {
    display: block;
	flex: 1 1 auto;
}

.container {
	width: 60%;
    margin: 0 auto;
    float: none;
	margin-bottom: 10px;
	padding-top: 2rem;
}

.card-header {
    background-color : white;
    color: #4e4a4a;
    font-family: 'Josefin Sans';
	padding-top: 1.5rem;
}

.card-header h4 {
    font-size: 1.7rem;
}

#recipe-prev {
	padding-bottom: 2rem;
}

h4 > a {
    text-decoration: none;
    color: black;
}

h4 > a:hover {
    text-decoration: none;
    color: gray;
}

/* login and register */
.card-body .btn-primary {
    background-color: #ffb6b9;
    border: 1px solid #ffb6b9;
}

.card-body .btn-primary:active {
    background-color: #ffb6b9 !important;
    border: 1px solid #ffb6b9 !important;
}

.card-body .btn-primary:hover {
    background-color: #f4dada;
    border: 1px solid #f4dada;
}

body.my-login-page {
    background-image: url(../image/pattern.jpg) !important;
    background-size: 15% !important;
}

.my-login-page a {
    color: #ffb6b9;
    text-decoration: none;
}

.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 40px auto;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
	position: relative;
	z-index: 1;
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
	margin-top: 6rem;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

.my-login-page .card:hover {
	border-color: #f4dada;
}
.my-login-page .card.fat {
	padding: 10px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

/* user page */
.tab-pane .btn-primary {
    background-color: #ffb6b9;
    border: 1px solid #ffb6b9;
}

.tab-pane .btn-primary:hover {
    background-color: #f16262;
    border: 1px solid #f16262;
}

.tab-pane .btn-secondary-sm {
    background-color: #e6dfdf;
    border: 1px solid #ffb6b9;
}

.tab-pane .btn-secondary-sm:hover {
    background-color: #f0e9e9;
    border: 1px solid #f4dada;
}

.custom-file-control{
    background-color: #ffb6b9;
    border: 1px solid #f16262;
    padding: 0.5rem 1rem;
    color:#ffffff;
}

.nav-link {
    color: #000808;
}

#user-tab {
    background-color: white;
    border: none;
}

#user-tab:hover {
    background-color: #ffb6b9;
    color: #000808;
    transition: all 0.5s ease-in;
}

.profile-img {
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 1rem;
}

td > a {
    text-decoration: none;
    color: black;
}

td > a:hover {
    text-decoration: none;
    color: gray;
}

/* multiple recipe */
.search-result h3 {
    margin: 0 0 15px;
	color: #4e4a4a;
	text-decoration: none;
	font-family: 'Josefin Sans';
}

.search-result a {
	text-decoration: none;
}

.well {
	margin-bottom: 2rem;
	width: 100%;
    border: 1px solid #ffb6b9;
    padding: 20px;
    min-height: 63px;
    background: #e9bebe;
    box-shadow: none;
    border-radius: 3px;
    position: relative;
    max-height: 100000px;
    transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    -ms-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -webkit-transition: max-height 0.5s ease;
}

.form-control {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 0;
    position: relative;
}

.breadcrumb {
	background-color : #e9bebe;
}

.recipe-pag {
	width:100px;
	margin: 0 auto;
}

.page-link {
	color: #4e4a4a;
}

.page-link:hover {
	background-color: #ffb6b9;
	transition: 0.3s ease;
	color: #4e4a4a;
}

.recipe-text {
	margin-top: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 3px;
	font-size: 1rem;
	text-align: justify;
}

#todo-pic {
	max-width: 100px;
	max-height: 100px;
}

.recipe-container {
    width: 100%;
    height: 100%;
    background: white;
    padding: 2rem;
}

.recipe-todo {
    background: white;
    padding: 1.5rem 1.5rem 0.1rem 1.5rem;
    margin-bottom: 1.5rem;
}

.recipe-container > img {
    margin-bottom: 2rem;
}

.recipe-full a {
	color: #f16262;
	text-decoration: none;
}

#rating {
	margin-bottom: 1rem;
}

/* error page */
.sad-cupcake {
	width: 30%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.error-page {
	width: 80%;
	margin: 0 auto;
	margin-top: 3rem;
}

.error-text {
	text-align: center;
	background-color: white;
	padding: 1.2rem;
	margin-top: 1rem;
	border-radius: 3px;
	font-family: 'Josefin Sans';
	color: #4e4a4a;
	font-size: 2vw;
}

/* add recipe */
.add-recipe {
	width: 50%;
	margin: 0 auto;
	margin-top: 2rem;
}

.addrecipe-img {
	width: 25%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
}

.addrecipe-submit {
	width: 20%;
	display:block;
	margin-left: auto;
	margin-top: 2rem;
	margin-right: auto;
	padding: 1rem 0.5rem;
	border: none;
	background-color: white;
	border-radius: 3px;
}

.addrecipe-text .form-control {
	min-height: 400px;
}

.addrecipe-submit:hover {
	background-color: #ffb6b9;
	transition: 0.5s ease;
}

.addrecipe-title {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fav {
	width: 8%;
	border: none;
	background: none;
}

.disfav {
	width: 8%;
	border: none;
	background: none;
}

.changeimg-btn {
    background-color: #ffb6b9;
    border: 1px solid #f16262;
    padding: 0.5rem 1rem;
    color: white;
}

.changeimg-btn:hover {
	background-color: #ffb6b9;
    border: 1px solid #f16262;
    padding: 0.5rem 1rem;
    color: white;
}

#uwu .btn-primary:active {
	background-color: #ffb6b9;
    border: 1px solid #f16262;
    padding: 0.5rem 1rem;
    color: white;
}

#uwu .btn-primary:focus {
	background-color: #ffb6b9;
    border: 1px solid #f16262;
    padding: 0.5rem 1rem;
    color: white;
}

.sidebar-prof {
    background-color: white;
    border-radius: 3px;
}

#uwu {
    padding: 2.5rem;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}

	.error-text {
		font-size: 4vw;
	}

	.add-recipe {
		width: 100%;
	}

	.addrecipe-img {
		width: 30%;
	}

	.addrecipe-submit {
		width: 20%;
	}
}



@media screen and (max-width: 425px) {
	.my-login-page .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.container {
		width: 100%;
	}

	.error-text {
		font-size: 6vw;
	}

	.add-recipe {
		width: 100%;
	}

	.addrecipe-img {
		width: 60%;
	}

	.addrecipe-submit {
		width: 40%;
	}
}

@media screen and (max-width: 320px) {
	.my-login-page .card.fat {
		padding: 0;
	}

	.my-login-page .card.fat .card-body {
		padding: 15px;
	}

	.container {
		width: 100%;
	}

	.error-text {
		font-size: 8vw;
	}

	.add-recipe {
		width: 100%;
	}

	.addrecipe-img {
		width: 70%;
	}

	.addrecipe-submit {
		width: 50%;
	}
}